/cohorts/2023/03-orchestration/email_credentials.py

.ipynb_checkpoints
.bin
*.db

*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*


.DS_Store

